APP_ENV=development
APP_DEBUG=false

DB_KDT_HOST=localhost
DB_KDT_PORT=3306
DB_KDT_NAME=
DB_KDT_USER=
DB_KDT_PASS=
DB_KDT_CHARSET=utf8mb4

DB_PCS_HOST=localhost
DB_PCS_PORT=3306
DB_PCS_NAME=
DB_PCS_USER=
DB_PCS_PASS=
DB_PCS_CHARSET=utf8mb4

DB_NEW_HOST=localhost
DB_NEW_PORT=3306
DB_NEW_NAME=
DB_NEW_USER=
DB_NEW_PASS=
DB_NEW_CHARSET=utf8mb4

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=PCS System

PASSPORT_EXPIRY_WARNING_MONTHS=9
VISA_EXPIRY_WARNING_MONTHS=6

REQUESTLIST_PRES_OVERRIDE_ENABLED=false
REQUESTLIST_PRES_OVERRIDE_IDS=


EMAIL_ENABLED=false
# Email sending control(EMAIL_MODE)
# off      = do not send, only log intended recipients
# redirect = send only to MAIL_TEST_TO / MAIL_TEST_CC
# normal   = send to actual recipients
EMAIL_MODE=off

MAIL_FROM_ADDRESS=kdt_toraberu@global.kawasaki.com
MAIL_FROM_NAME="PCS System"

MAIL_TEST_TO=
MAIL_TEST_CC=

GROUP_ENCRYPTION_KEY=PCSGROUPENC
GROUP_ENCRYPTION_IV=HAHTASDFSDFT6634