table tbody tr td {
  vertical-align: middle;
}
table thead tr {
  background-color: var(--tableheader);
}
.back {
  padding-bottom: 20px !important;
}

.back a span,
.back a i {
  color: #888 !important;
  transition: all 0.25s ease-in-out;
  font-weight: 500;
}
.back a:hover span,
.back a:hover i {
  color: var(--tertiary) !important;
}

.card {
  width: 400px;
  position: relative;
}

.editThis {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
  opacity: 0;
  flex-direction: column;
  border-radius: 5px;
  transition: opacity 0.25s ease-out;
}

.editThis i {
  font-size: 150px;
}
.editThis h1 {
  text-transform: uppercase;
  font-weight: 600;
}
.editThis.hov {
  opacity: 0.75;
  cursor: pointer;
}

#dispatchStatus {
  font-weight: 700 !important;
}
.left .pic {
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
.left .personal {
  width: calc(100% - 200px);
  justify-content: end;
}
.left .pic img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: cover;
  background-position: center;
}
/* .left .top {
  height: 200px;
} */
.right {
  flex-direction: column !important;
}
.personal .empId {
  font-size: 14px;
  color: #757575;
  text-transform: uppercase;
  font-weight: 600;
}

.prog-cont small {
  color: var(--red-color);
}
.totalThisYear .count {
  font-size: 36px;
  font-weight: 600;
}
.totalThisYear {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}
.totalThisYear .label {
  font-size: 14px;

  text-transform: uppercase;
}
.bot {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}
.bot .title {
  font-size: 14px;

  text-transform: uppercase;
}
.bot table {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 100%;
}
.bot table thead tr th,
.bot table tbody tr td {
  vertical-align: middle;
  white-space: nowrap;
}
.bot table thead tr th {
  background-color: var(--tableheader);
  font-size: 12px !important;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  color: var(--text-color);
  padding: 0.75rem;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.bot table thead tr th:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid #ebebeb;
}
.bot table thead tr th:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  justify-content: end;
  border-right: 1px solid #ebebeb;
  width: 3%;
}
.bot table tbody tr td:last-of-type {
  justify-content: end;
  width: 25px;
}
.bot table tbody tr td {
  background-color: #fff;
  padding: 16px 10px;
  font-weight: 400;
  border-bottom: 1px solid var(--gray);
}
.bot tbody tr:hover td {
  background-color: var(--tablehover);
}
/* .bot table tbody td {
  font-size: 14px;
  vertical-align: middle;
} */
/* .bot table tbody tr:hover {
  background-color: #ededed;
} */

.table-cont {
  height: calc(100% - 45px);
}

.disStat i {
  opacity: 50%;
  cursor: pointer;
  transition: opacity 0.25s ease;
}
.disStat i:hover {
  opacity: 100%;
}

.disStat {
  padding-bottom: 20px;
}
.bot .header {
  padding-bottom: 14px;
}
.emptyState-pass,
.emptyState-visa {
  opacity: 0.25;
}
.totalDays {
  font-size: 24px;
  font-weight: 700;
}

.bg-success {
  background-color: var(--tertiary) !important;
}
/* BUTTON CSS */
.btn-update {
  background-color: var(--secondary) !important;
  transition: background-color 0.25s ease-out;
}
.btn-update:hover {
  background-color: var(--tertiary) !important;
}
.btn-edit,
.btn-delete {
  border: none;
  background-color: transparent;
}
.btn-edit:hover {
  color: var(--yellow-color) !important;
}
.btn-delete:hover {
  color: var(--red-color) !important;
}

.btn-update,
.btn-success {
  background-color: var(--secondary) !important;
  font-weight: 600;
  color: var(--dark);
  transition: background-color 0.25s ease-in-out;
  border: none;
}
.btn-update:hover,
.btn-success:hover {
  background-color: var(--tertiary) !important;
  font-weight: 600;
  color: var(--dark);
}
.btn-cancel,
.btn-wh-cancel {
  background-color: var(--dark);
  color: var(--white);
  font-weight: 600;
}
.btn-cancel:hover,
.btn-wh-cancel:hover {
  background-color: var(--dark-200);
  color: var(--white);
  font-weight: 600;
}
@media (max-width: 991px) {
  .kaliwa,
  .kanan {
    width: 100% !important;
  }
}

/* SMALLSCREEN NAVIGATION */
#closeNav,
#menu {
  height: 35px;
  width: 35px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.35s ease;
  opacity: 0.5;
}
#closeNav:hover,
#menu:hover {
  opacity: 1;
}
#closeNav i {
  transition: transform 0.35s ease;
}
#closeNav:hover i {
  transform: rotate(90deg);
  color: var(--red-color);
}
#menu i {
  transition: color 0.35s ease;
}
#menu:hover i {
  color: var(--tertiary);
}

#menu,
#closeNav {
  display: none;
}
@media (max-width: 768px) {
  .content {
    height: 100%;
    width: 100vw;
  }
  .navigation {
    position: absolute;
    left: -100%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #fff;
    transition: all 0.25s ease-out;
  }
  .navigation.open {
    left: 0;
    opacity: 1;
  }
  #menu,
  #closeNav {
    display: block;
  }
}
/* .work-hist .title {
  font-size: 14px;

  text-transform: uppercase;
}
.work-hist table thead tr th {
  background-color: #e5e7eb;
  font-size: 12px !important;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  padding: 1.25rem 0.75rem;
}

.work-hist table tbody td {
  font-size: 14px;
  vertical-align: middle;
}
.work-hist table tbody tr:hover {
  background-color: #e6e6e6;
}
.work-hist table thead th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
}
.work-hist table thead th {
  text-transform: uppercase;
  font-size: 12px !important;
  word-wrap: break-word;
}
.work-hist table .add-work {
  cursor: pointer;
}
.work-hist table .add-work:hover {
  background-color: #e6e6e6;
  color: var(--text-color);
}
.work-hist table .add-work:active {
  background-color: #999999;
  color: var(--bg);
} */
.work-hist {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}
.work-hist .table-cont::-webkit-scrollbar {
  display: none;
}
.work-hist .title {
  font-size: 14px;

  text-transform: uppercase;
}
.work-hist table {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 100%;
}
.work-hist table thead tr th,
.work-hist table tbody tr td {
  vertical-align: middle;
  white-space: nowrap;
}
.work-hist table thead tr th {
  background-color: var(--tableheader);
  font-size: 12px !important;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  color: var(--text-color);
  padding: 0.75rem;

  border: 1px solid #000;
  border-left: 0;
}

.work-hist table thead tr th:first-of-type {
  border-left: 1px solid #000;
}
.work-hist table thead tr:nth-of-type(2) th:first-of-type {
  border-left: 0;
}
.work-hist table thead tr:nth-of-type(2) th {
  border-top: 0;
}
/* .work-hist table thead tr th:last-of-type {

  justify-content: end;
  border-right: 1px solid #ebebeb;
  width: 3%;
} */
.work-hist table tbody tr td:last-of-type {
  justify-content: end;
  width: 25px;
}
.work-hist table tbody tr td {
  background-color: #fff;
  padding: 16px 10px;
  font-weight: 400;
  border-bottom: 1px solid var(--gray);
}
.work-hist tbody tr:hover td {
  background-color: var(--tablehover);
}
.work-hist .header {
  padding-bottom: 14px;
}
.work-hist table .add-work {
  cursor: pointer;
}
